{% extends 'page.html.twig' %}

{% block content %}
  <h1>All Songs</h1>
  <table>
    <thead>
      <tr>
        <th>Song Name</th>
        <th>Album Cover</th>
        <th>Artist Name</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {% for song in songs %}
        <tr>
          <td>{{ song.title }}</td>
          <td><img src="{{ song.album_cover }}"></td>
          <td>{{ song.artist }}</td>
          <td><a href="{{ song.details_url }}">Details</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
