{% extends "@classy/page.html.twig" %}

{% block content %}
  <h1>Artists</h1>
  <ul>
    {% for artist in artists %}
      <li><a href="{{ path('entity.node.canonical', {'node': artist.id}) }}">{{ artist.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
